build:
  type: text
  content: |-


    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    &amp;lt;&amp;lt;&amp;#39;###&amp;#39;
    Sample Deploy Instructions

    HELM_OPTS=&amp;quot;--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}&amp;quot;

    helm install &amp;lt;helm-folder&amp;gt; -n &amp;lt;ns&amp;gt; $HELM_OPTS

    kubectl apply -f &amp;lt;file&amp;gt;.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-11T04:33:26.827Z
