build:
  type: text
  content: |-
    #!/bin/sh

    echo "Building Repo"
deploy:
  type: text
  content: |-
    #!/bin/sh

    echo "Deploying Repo"
test: []
uninstall:
  type: text
  content: |-
    #!/bin/sh

    echo "Uninstalling repo"
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    echo "Running application pre-requisites"
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    echo "Deploying application"
app_test:
  - name: ''
    configType: artillery
    configPath: roost-io/voting_app-argo/
app_uninstall:
  type: text
  content: |-
    #!/bin/sh

    echo "Running application Uninstall"
app_docker_compose: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-03-10T16:05:55.736Z
