build:
  type: text
  content: |-


    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    &lt;&lt;&#39;###&#39;
    Sample Deploy Instructions

    HELM_OPTS=&quot;--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}&quot;

    helm install &lt;helm-folder&gt; -n &lt;ns&gt; $HELM_OPTS

    kubectl apply -f &lt;file&gt;.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-11-10T16:46:21.086Z
